<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SHUBHANKAR"
        tools:targetApi="31">
        <activity
            android:name=".CGPA_Output"
            android:exported="false" />
        <activity
            android:name=".CGPA_Calculator"
            android:exported="false" />
        <activity
            android:name=".studentprofile"
            android:exported="false" />
        <activity
            android:name=".galleryFileHandling"
            android:exported="false" />
        <activity
            android:name=".GpsService"
            android:exported="false" />
        <activity
            android:name=".Speech"
            android:exported="false" />
        <activity
            android:name=".Torch"
            android:exported="false" />
        <activity
            android:name=".ImageGallery"
            android:exported="false" />
        <activity
            android:name=".recyclerview"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".views"
            android:exported="false" />
        <activity
            android:name=".fragmentLifeCycle"
            android:exported="false" />
        <activity
            android:name=".layout"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>